@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rosario:wght@700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
	font-family: 'DM Sans', sans-serif;
}
html {
	/* font-family: 'Poppins', sans-serif; */
	font-size: 62.5%;
    font-weight: 400;
	/* line-height: 166.66%; */
	scroll-behavior: smooth;
}
body {
    font-size: 1.8rem;
	font-weight: 400;
	line-height: 167%;
}
.wrapper {
    display: flex;
    flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
.container {
    max-width: 127rem;   /*1270px*/
    margin: 0 auto;
    width: 100%;
    padding: 0px 15px 0px 15px;
}

/* ---------------------Header------------------------ */

.header {
	padding: 5rem 0 4.3rem;
}
.header__content {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__column-left {
	width: 52.2581%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu {

}
.menu__list {
	display: flex;
}
.menu__item {
}
.menu__item:not(:last-child) {
	margin: 0 4rem 0 0;
}
.menu__link {
	line-height: 133%;
	color: #222222;
}
.header__logo {

}
.logo {
}
.logo__icon {
}
.header__column-right {
	display: flex;
	align-items: center;
}
.header__order {
		display: flex;
}
.form {
	margin: 0 2rem 0 0;
	display: flex;
	align-items: center;
}
.form__button {
}
.button-form {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #F3FBF8;
}
.button-form__icon {
}
.header__basket {
	margin: 0 3.2rem 0 0;
}
.basket {
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #F3FBF8;
}
.basket__icon {
}
.header__reg {
	padding: 1rem 2.3rem;
	line-height: 111%;
	background-color: #09A66D;
	border-radius: 8px;
	color: #FFFFFF;
}

/* ---------------------Vegetables------------------------ */

.vegetables {
	padding: 9.3rem 0px 0px 0px;
	background: #F3FBF8;
}

.container {}

.title {
	font-family: 'Rosario', sans-serif;
	font-weight: 700;
	font-size: 7rem;
	line-height: 129%;
	color: #222222;
	text-align: center;
}
.vegetables__title {
	margin: 0px 0px 2rem 0px;
}

.vegetables__descr {
	margin: 0px auto 4rem;
	max-width: 637px;
	text-align: center;
	color: #555555;
}

.vegetables__order {
	margin: 0 auto;
	z-index: 2;
}

.btn-now {
	position: relative;
	max-width: 176px;
	display: flex;
	align-items: center;
	text-align: center;
}

.btn-now__text {
	margin-right: 2rem;
	font-weight: 500;
	color: #222222;
}

.btn-now__icon {

}

.vegetables__content {}

.content-vegatables {
	display: flex;
	justify-content: space-between;
}

.content-vegatables__column-img {
	position: relative;
	top: -45px;
}

.vegatables__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content-vegatables__column-info {
	
}

.order-info {
	display: flex;
	flex-direction: column;
	row-gap: 30px;

}
.order-info__block{
	max-width: 250px;
	padding: 1.7rem 3.3rem;
	display: flex;
	align-items: center;
	background: #FFFFFF;
}

.order-info__img {
	margin-right: 2.4rem;
}

.order-info__icon {}

.order-info__body {}

.order-info__statistics {
	margin-bottom: 0.4rem;
	font-size: 4.8rem;
	line-height: 100%;
	text-align: center;
	color: #000000;
}
.order-info__descr {
	text-align: center;
}

/* ---------------------Why------------------------ */
















/* ---------------------MEDIA------------------------ */

@media (max-width: 1060px) {
	.content-vegatables {
		flex-direction: column;
	}
		.vegetables__order {
	margin-bottom: 2rem;
	}
.content-vegatables__column-img {
	top: 0;
	margin: 0 auto 3rem;
}
.content-vegatables__column-info {
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 30px;
	margin-bottom: 3rem;
}
.order-info__block {

}
}
@media (max-width: 992px) {
	.header {
			padding: 3rem 0 2.3rem;
		}
	.header__column-left {
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 20px;
		}
	.header__column-right {
		flex-direction: column;
		gap: 20px;
	}
	.header__order {
		width: 100%;
		justify-content: space-around;
	}
	.form,
	.header__basket {
		margin: 0 0 0 0;
	}
}

@media (max-width: 767px) {
	.vegetables__title {
			font-size: 6rem;
		}
}

@media (max-width: 480px) {
	.vegetables__title {
			font-size: 4.5rem;
		}
}


