@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rosario:wght@700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
	font-family: 'DM Sans', sans-serif;
}
html {
	font-size: 62.5%;
    font-weight: 400;
	scroll-behavior: smooth;
}
body {
    font-size: 1.8rem;
	font-weight: 400;
	line-height: 167%;
}
.wrapper {
    display: flex;
    flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
.container {
    max-width: 127rem;   /*1270px*/
    margin: 0 auto;
    width: 100%;
    padding: 0px 15px 0px 15px;
}
/* --------------------------------------------- */
.parallax-vegetables {
	position: absolute;
	top: -37px;
	left: -160px;
	width: 612px;
	height: 408px;
	background: url('../images/parallax/leafs.png') 0 0 / cover no-repeat;
	z-index: 0;
}
.parallax-vegetables * ~ {
	z-index: 20;
}
.parallax-special {
	position: absolute;
		bottom: -143px;
		right: -50px;
		width: 424px;
		height: 397px;
		background: url('../images/parallax/leafs.png') 0 0 / cover no-repeat;
		z-index: 0;
}
.title {
	font-family: 'Rosario', sans-serif;
	font-weight: 700;
	font-size: 7rem;
	line-height: 129%;
	color: #222222;
}
/* ---------------------Header------------------------ */
.header {
	position: relative;
	padding: 5rem 0 4.3rem;
}
.header__content {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*----------------Меню бургер------------------*/
#burger {
	display: none;
}
.label {
	display: block;
	position: absolute;
	top: 10px;
	left: 25px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 12;
}
.burger__line {
	position: absolute;
	top: 20px;
	left: 25px;
	width: 50px;
	height: 4px;
	background-color: #000;
	display: none;
	transition: all 0.3s linear;
}
.line-second,
.line-third {
	top: 31px;
}
.line-fourth {
	top: 42px;
}
/*--------------------------------------*/
.header__column-left {
	width: 52.2581%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu__list {
	display: flex;
}
.menu__item:not(:last-child) {
	margin: 0 4rem 0 0;
}
.menu__link {
	line-height: 133%;
	color: #222222;
}
.menu__link:hover {
	text-decoration: underline;
}
.header__column-right {
	display: flex;
	align-items: center;
}
.header__order {
		display: flex;
}
.search-form {
	margin: 0 2rem 0 0;
	display: flex;
	align-items: center;
}
.button-search {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #F3FBF8;
	cursor: pointer;
}
.header__basket {
	margin: 0 3.2rem 0 0;
}
.basket {
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #F3FBF8;
}
.header__reg {
	padding: 1rem 2.3rem;
	line-height: 111%;
	background-color: #09A66D;
	border-radius: 8px;
	color: #FFFFFF;
}
.header__reg:hover {
	background-color: rgb(16, 182, 121);
}
/* ---------------------Vegetables------------------------ */
.vegetables {
	position: relative;
	padding: 9.3rem 0px 0px 0px;
	background: #F3FBF8;
	z-index: 20;
}
.vegetables__body {
	position: relative;
}
.vegetables__body > *:not(.parallax-vegetables) {
	position: relative;
}
.vegetables__title {
	margin: 0px 0px 2rem 0px;
	text-align: center;
}
.vegetables__descr {
	margin: 0px auto 4rem;
	max-width: 637px;
	text-align: center;
	color: #555555;
}
.vegetables__order {
	margin: 0 auto;
	z-index: 2;
}
.btn-now {
	position: relative;
	max-width: 176px;
	display: flex;
	align-items: center;
	text-align: center;
}
.btn-now__text {
	margin-right: 2rem;
	font-weight: 500;
	color: #222222;
}
.btn-now__icon {
	transition: all 0.2s ease;
}
.btn-now__icon:hover {
	transform: scale(1.1);
}
.content-vegatables {
	display: flex;
	justify-content: space-between;
}
.content-vegatables__column-img {
	position: relative;
	top: -45px;
}
.vegatables__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.order-info {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}
.order-info__block{
	/* max-width: 250px; */
	padding: 1.7rem 3.3rem;
	display: flex;
	align-items: center;
	background: #FFFFFF;
}
.order-info__img {
	margin-right: 2.4rem;
}
.order-info__icon {
	align-self: start;
}
.order-info__body {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.order-info__statistics,
.order-info__sign {
	display: inline-block;
	margin-bottom: 0.4rem;
	font-size: 4.8rem;
	line-height: 100%;
	text-align: center;
	color: #000000;
}
.order-info__sign {
	display: inline-block;
}
.order-info__descr {
	text-align: center;
}
/* ---------------------Why------------------------ */
.why {
	position: relative;
	padding: 14.1rem 0 14.6rem;
	background-image: url("../images/why/decor.png");
	background-repeat: no-repeat;
	background-position: 95% -5%;
}
.why__inner {
	position: relative;
}
.why__content {
	position: relative;
	max-width: 671px;
	z-index: 10;
}
.why__title {
	margin-bottom: 2rem;
}
.why__descr {
	margin-bottom: 1.6rem;
}
.why__blocks {
	max-width: 500px;
}
.block-why__item {
	padding: 4rem 5.92rem;
	display: flex;
}
.block-why__item:not(:last-child) {
	margin-bottom: 1rem;
}
.block-why__item:nth-child(even) {
	background: #F3FBF8;
}
.block-why__img {
	margin-right: 2.4rem;
	min-width: 80px;
	max-width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #F3FBF8;
}
.block-why__img_white {
	background: #FFFFFF;
}
.block-why__body {
	max-width: 277.45px;
	display: flex;
	flex-direction: column;
}
.block-why__title {
	font-weight: 700;
	font-size: 2rem;
	line-height: 150%;
	color: #222222;
}
.block-why__text {
	font-size: 1.4rem;
	line-height: 143%;
	color: #555555;
}
.down {
	display: block;
	text-align: center;
}
.arrow-down {
	padding: 1rem;
}
.why__photo {
	max-width: 600px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.photo-why__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.why__decor {
	display: none;
	position: absolute;
	top: -160px;
	right: -65px;
}
/* --------------------- Special Items ------------------------ */
.special-items {
	position: relative;
	background: rgba(9, 166, 109, 0.05);
	padding: 8.87rem 0 14.3rem;
}
.special-items__row {
	position: relative;
	margin: 0 -2rem;
	display: flex;
	z-index: 20;
}
.special-items__row >*:not(.parallax-special) {
	position: relative;
}
.special-items__column {
	padding: 0 2rem;
	flex: 0 1 50%;
}
.special-items__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.special-photo__title {
	margin-bottom: 2rem;
}
.special-items__descr:not(:last-child) {
	margin-bottom: 5rem;
}
.special-items__now {
	max-width: 179px;
}
/* --------------------- About-us ------------------------ */
.about-us {
	padding: 96px 0 75px;
}
.about-us__descr {
	margin-bottom: 40px;
	padding-top: 200px;
	max-width: 600px;
	background-color: #FFFFFF;
}
.about-us__row {
	position: relative;
}
.about-us__column__wrap {
	/* position: relative; */
	display: flex;
	justify-content: space-between;
}
.about-us__title {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 640px;
	z-index: 10;
}
.about-us__photo {
	position: relative;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: #F3FBF8;
	text-align: center;
}
.about-us__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90%;
	object-fit: cover;
}
.about-us__block-icon {
	padding: 11px 0 11px 21px;
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 220px;
	height: 80px;
	border-radius: 12px;
	background-color: #FFFFFF;
	box-shadow: -15px 15px 25px rgba(0, 96, 60, 0.04);
}
.about-us__icon {
	display: block;
}
.about-us__icon:not(:last-child) {
	margin-bottom: 10px;
}
.about-us__saying-name {
	max-width: 250px;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 30px;
	line-height: 120%;
	color: #222222;
	background-color: #FFFFFF;
}
.empty-block {
	width: 100%;
	height: 80px;
	display: none;
}
.swiper-slide {
	background-color: #FFFFFF;
}
.block-wrap-swbtn {
	position: absolute;
	bottom: 17px;
	left: 327px;
	width: 140px;
	height: 56px;
}
.swiper-button-prev,
.swiper-button-next {
	top: 40%;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background-color: #09A66D;
}
.next-icon,
.prew-icon {
	color: #FFFFFF;
	font-size: 32px;
}
.swiper-button-disabled {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}
.swiper-button-disabled .prew-icon,
.swiper-button-disabled .next-icon {
	color: #CCCCCC;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;
}
.swiper-scrollbar {
	display: none;
}
/* --------------------- Download ------------------------ */
.download {
	padding: 7.5rem 0px 7.5rem 0px;
}
.download__row {
	position: relative;
	display: flex;
}
.download__image {
	padding: 0 100px 0 100px;
	position: relative;
	flex: 0 1 470px;
}
.download__img-1 {
	position: absolute;
	top: 32px;
	left: 100px;
	z-index: 1;
	width: 100%;
	max-width: 208px;
}
.download__img-2 {
	position: absolute;
	top: 0;
	left: 130px;
	z-index: 2;
	width: 100%;
	max-width: 240px;
}
.download__body {
	flex: 1 1 663px;
	padding: 3.5rem 0px;
}
.download__label {
	display: inline-block;
	margin-bottom: 1.6rem;
	padding: 1.1rem 2.4rem;
	background: #F3FBF8;
	border-radius: 50px;
	line-height: 1;
}
.download__title {
	margin-bottom: 2rem;
}
.download__text {
	margin-bottom: 5rem;
	max-width: 575px;
}
.application-download {
	display: flex;
}
.application-download__link {
	transition: all .3s ease;
}
.application-download__link:hover {
	transform: scale(1.1, 1.1);
}
.application-download__link:not(:last-child) {
	margin-right: 2.4rem;
}
/* --------------------- Footer ------------------------ */
.footer {
	padding: 105px 0px 118px 0px;
}
.footer__row {
	display: flex;
	justify-content: space-between;
	margin: 0 -2rem;
}
.footer__column:first-child {
	flex: 1 1 40%;
	max-width: 385px;
	margin-right: 7.8%;
}
.footer__column {
	flex: 0 1 20%;
	padding: 0 2rem;
}
.footer__logo {
	width: 70px;
	height: 70px;
	margin-bottom: 30px;
}
.footer__title {
	margin-bottom: 3rem;
	padding-top: 38px;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 129%;
	color: #222222;
}
.footer__item:not(:last-child) {
	margin-bottom: 24px;
}
.footer__link {
	line-height: 127%;
	color: #555555;
}
.footer__link:hover {
	text-decoration: underline;
}
.footer__mail {
	width: 216px;
	display: block;
	margin-bottom: 25px;
	line-height: 129%;
	color: #222222;
}
.footer__mail:hover {
	text-decoration: underline;
}
.social {
	width: 172px;
	display: flex;
	justify-content: space-between;
}
.social__icon:hover .social .social__link {
	border: 1px solid black;
}
.social__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	padding: 10px;
	border-radius: 100%;
	border: 1px solid transparent;
}
.social__link:hover {
	border: 1px solid black;
}
/* ---------------------MEDIA------------------------ */
@media (max-width: 1165px) {
	.parallax-vegetables,
	.parallax-special {
		display: none;
	}
	.about-us__row {
		max-width: 600px;
		margin: 0 auto;
	}
	.about-us__title {
		text-align: center;
	}
	.about-us__column__wrap {
		flex-direction: column-reverse;
	}
	.about-us__descr {
		margin-bottom: 40px;
		padding-top: 30px;
		background-color: #FFFFFF;
		text-align: center;
	}
	.about-us__photo {
		margin: 300px auto 0;
	}
	.about-us__column {
		width: 100%;
	}
	.block-wrap-swbtn {
		left: 100%;
		transform: translate(-100%);
	}
	.download__row {
		justify-content: space-between;
	}
	.download__image {
		padding: 0 20px 0 20px;
		flex: 0 1 350px;
	}
	.download__img-1 {
		left: 30px;
	}
	.download__img-2 {
		left: 60px;
	}
}
@media (max-width: 1065px) {
	.content-vegatables {
		flex-direction: column;
	}
		.vegetables__order {
	margin-bottom: 2rem;
	}
	.content-vegatables__column-img {
		top: 0;
		margin: 0 auto 3rem;
	}
	.content-vegatables__column-info {
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
		margin-bottom: 3rem;
	}
	.why__title,
	.why__descr {
		text-align: center;
	}
	.why__photo {
		display: none;
	}
	.why__content {
		margin: 0 auto
	}
	.why__blocks {
		margin: 0 auto;
	}
}
@media (max-width: 992px) {
	.header {
		padding: 3rem 0 2.3rem;
		}
	.header__column-left {
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 20px;
		}
	.header__column-right {
		flex-direction: column;
		gap: 20px;
	}
	.header__order {
		width: 100%;
		justify-content: space-around;
	}
	.form,
	.header__basket {
		margin: 0 0 0 0;
	}
	.why {
		background: none;
		padding: 7.5rem 0 7.5rem;
	}
	.special-items {
		padding: 5rem 0 5rem;
	}
	.special-items__row {
		flex-direction: column;
		max-width: 600px;
		margin: 0 auto;
		row-gap: 40px;
	}
	.special-items__now {
		margin: 0 auto
	}
	.about-us {
		padding: 5rem 0 5rem;
	}
	.download {
		padding: 5rem 0px 5rem 0px;
	}
	.download__image {
		display: none;
		}
	.download__row {
		max-width: 600px;
		margin: 0 auto;
	}
	.footer {
		padding: 25px 0px;
	}
	.footer__row {
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 600px;
		margin: 0 auto
	}
	.footer__column:first-child {
		margin: 0;
		flex: 1 1 100%;
		max-width: 100%;
	}
	.footer__column {
		flex: 0 1 25%;
	}
}
@media (max-width: 767px) {
	.burger__line {
		display: block;
		z-index: 20;
	}
	.header {
		padding: 0;
	}
	.header__content {
		position: absolute;
		top: -420px;
		flex-direction: column;
		background-color: #F3FBF8;
		padding: 20px 0px 20px 0px;
		margin: 0px -15px 0px -15px;
	}
	.header__column-left {
		width: 100%;
		align-items: center;
	}
	.menu__list {
		flex-direction: column;
		text-align: center;
	}
	.menu__item:not(:last-child) {
		margin: 0 0 0 0;
	}
	.menu__link {
		display: block;
	padding: 10px 10px 10px 10px;
	}
	.form__button,
	.header__basket {
		background-color: #fff;
	}
	#burger:checked ~ .header__content {
		width: 100%;
		top: 0px;
		z-index: 9;
	}
	#burger:checked ~ .line-first {
		display: none;
	}
	#burger:checked ~ .line-second {
		transform: rotate(45deg);
	}
	#burger:checked ~ .line-third {
		transform: rotate(-45deg);
	}
	#burger:checked ~ .line-fourth {
		display: none;
	}
	.vegetables {
		position: relative;
		padding: 7rem 0px 0px 0px;
		z-index: 3;
	}
	.vegetables__title {
		font-size: 6rem;
	}
	.vegetables__descr {
		margin: 0px auto 6rem;
	}
	.why {
		padding: 5rem 0 5rem;
	}
	.why__title {
		font-size: 6rem;
	}
	.block-why__item {
		padding: 2rem 3.92rem;
	}
	.special-items {
		padding: 2.5rem 0 2.5rem;
	}
	.about-us {
		padding: 2.5rem 0 2.5rem;
	}
	.about-us__title {
		font-size: 6rem;
		text-align: center;
	}
	.special-photo__title {
		font-size: 6rem;
	}
	.about-us__row {
		max-width: 600px;
		margin: 0 auto;
	}
	.about-us__photo {
		margin: 250px auto 0;
		width: 300px;
		height: 300px;
	}
	.about-us__block-icon {
		padding: 5px;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
		width: 176px;
		height: 70px;
	}
	.about-us__icon:not(:last-child) {
		margin-bottom: 5px;
	}
	.download {
		padding: 2.5rem 0px 2.5rem 0px;
	}
	.download__title {
		font-size: 6rem;
	}
	.footer__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 480px) {
	.vegetables__title {
		font-size: 4.5rem;
	}
	.vegetables__descr {
		margin: 0px auto 8rem;
	}
	.why {
		padding: 5rem 0 5rem;
	}
	.why__title {
		font-size: 4.5rem;
	}
	.block-why__item {
		flex-direction: column;
		justify-content: center;
	}
	.block-why__img {
		margin: 0 auto 2rem;
	}
	.block-why__body {
		max-width: 100%;
		text-align: center;
	}
	.special-items {
		padding: 5rem 0 5rem;
	}
	.special-photo__title {
		font-size: 4.5rem;
	}
	.about-us {
		padding: 2.5rem 0 2.5rem;
	}
	.about-us__title {
		font-size: 4.5rem;
	}
	.arrow-down {
		padding: 3rem;
	}
	.about-us__row {
		width: 350px;
		margin: 0 auto;
	}
	.about-us__column {
		text-align: center;
	}
	.about-us__descr {
		margin-bottom: 20px;
	}
	.about-us__photo {
		margin: 200px auto 0;
		width: 250px;
		height: 250px;
	}
	.block-wrap-swbtn {
		left: 69%;
	}
	.about-us__saying-name {
		font-size: 2.4rem;
		margin-bottom: 10px;
		max-width: 100%;
	}
	.about-us__rating {
		width: 110px;
	}
	.empty-block {
		display: block;
	}
	.download__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 0px 1rem 0px;
	}
	.download__title {
		font-size: 4.5rem;
		text-align: center;
	}
	.footer__column {
		flex: 0 1 100%;
		text-align: center;
	}
	.footer__item:not(:last-child) {
		margin-bottom: 16px;
	}
	.footer__mail,
	.footer__social {
		margin: 25px auto;
	}
}
@media (max-width: 380px) {
	#burger:checked~.header__content {
		top: 20px;
	}
	.vegetables__descr {
		margin: 0px auto 6rem;
	}
	.special-photo__title {
		text-align: center;
	}
	.about-us__row {
		max-width: 280px;
	}
	.about-us__photo {
		margin: 250px auto 0;
	}
	.block-wrap-swbtn {
		left: 74%;
	}
}